@model Inverntory_Managment_System.Models.Products.CreateProductVM;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<fieldset>
    <legend>Create User</legend>
    <form action="/Product/Create" method="post">
        <div class="grid">
            <div class="row">
                <div class="col-1"> Name:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.Name)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.Name)</div>
            </div>
            <div class="row">
                <div class="col-1">Price:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.Price)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.Price)</div>
            </div>
            <div class="row">
                <div class="col-1">Amount:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.Amount)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.Amount)</div>
            </div>
            <div class="row">
                <div class="col-1">Description:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.Description)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.Description)</div>
            </div>
            <div class="row">
                <div class="col-3">
                    <input type="submit" value="Create" />
                    <a href="/Home/Index">back</a>
                </div>
            </div>
        </div>
    </form>
</fieldset>